div[class*="col"] {

    background-color: darkblue;
    border: 1px solid darkgrey;
    text-align: center;
    color: white;
} 

div[class*="space"] {
    height: 1rem;
} 

.doppio div{
    background-color: green; 
}
