* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap:wrap ;
    width: 100%;
}

.col-12 {
    width: calc(( 100% / 12 ) * 12);
}

.col-11 {
    width: calc(( 100% / 12 ) * 11);
}

.col-10 {
    width: calc(( 100% / 12 ) * 10);
}

.col-9 {
    width: calc(( 100% / 12 ) * 9);
}
    
.col-8 {
    width: calc(( 100% / 12 ) * 8);
}

.col-7 {
    width: calc(( 100% / 12 ) * 7);
}

.col-6 {
    width: calc(( 100% / 12 ) * 6);
}

.col-5 {
    width: calc(( 100% / 12 ) * 5);
}

.col-4 {
    width: calc(( 100% / 12 ) * 4);
}

.col-3 {
    width: calc(( 100% / 12 ) * 3);
}

.col-2 {
    width: calc(( 100% / 12 ) * 2);
}

.col-1 {
    width: calc(( 100% / 12 ) * 1);
}

/* pseudo margin */

.space-12 {
    width: calc(( 100% / 12 ) * 12);
}

.space-11 {
    width: calc(( 100% / 12 ) * 11);
}

.space-10 {
    width: calc(( 100% / 12 ) * 10);
}

.space-9 {
    width: calc(( 100% / 12 ) * 9);
}
    
.space-8 {
    width: calc(( 100% / 12 ) * 8);
}

.space-7 {
    width: calc(( 100% / 12 ) * 7);
}

.space-6 {
    width: calc(( 100% / 12 ) * 6);
}

.space-5 {
    width: calc(( 100% / 12 ) * 5);
}

.space-4 {
    width: calc(( 100% / 12 ) * 4);
}

.space-3 {
    width: calc(( 100% / 12 ) * 3);
}

.space-2 {
    width: calc(( 100% / 12 ) * 2);
}

.space-1 {
    width: calc(( 100% / 12 ) * 1);
}

